<h2>Login</h2>
<form action="/login" method="POST">
    <input type="text" placeholder="Email" name="email" id=""><br>
    <input type="text" placeholder="Password" name="password" id="">
    <button>Login</button>

</form>