<h2>Update Information</h2>
<form action="/student/update" method="POST">
    <input type="text" value="<%= email %>" readonly><br>
    <input type="text" name="name" placeholder="Enter new/old Name" id=""><br>
    <input type="password" name="password" placeholder="Enter new/old Password" id="">
    <button type="submit">Update</button>
</form>